@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    One Microsoft Way<br />
    Seattle, WA 98052-1650<br />
    <abbr title="Phone">P:</abbr>
    888.421.1650
</address>

<address>
    <strong>Support:</strong> <a href="mailto:SupportEventEW@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:MarketingEwenetEW@example.com">Marketing@example.com</a>
</address>
